@charset "UTF-8";
.mb-sm {
  margin-bottom: 70px;
}
@media (max-width: 425px) {
  .mb-sm {
    margin-bottom: 0;
  }
}

.ml-xsm {
  margin-left: 8px;
}

.scroll {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 2s;
}

body {
  font-family: "Mulish", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.btn {
  border-radius: 55px;
  font-weight: bold;
  font-size: 18px;
  min-height: 56px;
  max-width: 200px;
  width: 100%;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 425px) {
  .btn {
    min-height: 46px;
    max-width: 150px;
  }
}
.btn_primary {
  background-color: #458FF6;
}
.btn-m-arrow {
  margin-right: 14px;
}
.btn svg {
  width: 12px;
}
.btn svg:hover {
  fill: #ffff;
  transition-duration: 0.2s;
}

.header {
  width: 100%;
  position: fixed;
  color: #fff;
  z-index: 2;
}
.header-background {
  background-color: rgba(255, 255, 255, 0.979);
}
.header .navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}
.header .nav-link:hover {
  text-shadow: 0 0 black;
  transition: 0.5s;
}

.footer {
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  overflow: hidden;
  position: relative;
}
.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
  padding: 118px 0;
  position: relative;
}
@media (max-width: 425px) {
  .footer__wrapper {
    grid-template-columns: repeat(1, 1fr);
    padding: 25px 10px;
  }
}
.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 425px) {
  .footer-info {
    margin-bottom: 25px;
  }
}
.footer-info__logo {
  margin-bottom: 10px;
}
.footer-info__description {
  margin-bottom: 30px;
}
.footer-info__description-text {
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
  opacity: 0.6;
}
@media (max-width: 425px) {
  .footer-info__description-text {
    font-size: 14px;
  }
}
.footer-info__copyright-text {
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.6;
}
@media (max-width: 425px) {
  .footer-info__copyright-text {
    font-size: 14px;
  }
}
.footer-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-left: 15%;
}
@media (max-width: 425px) {
  .footer-menu {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }
}
.footer-item {
  text-align: left;
}
.footer-item__title {
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 20px;
}
@media (max-width: 425px) {
  .footer-item__title {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.footer-list__link {
  display: inline-block;
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
  opacity: 0.6;
  margin: 3% 0;
}
@media (max-width: 425px) {
  .footer-list__link {
    font-size: 14px;
  }
}
.footer-list__link:hover {
  color: #1e314b;
  transition: 0.5s;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 34px;
  margin: 0 50px 70px 50px;
}
@media (max-width: 1024px) {
  .services-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .services-list {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 10px 50px 10px;
  }
}
@media (max-width: 425px) {
  .services-list {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 10px 50px 10px;
  }
}
.services-item {
  background: #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  padding: 62px 45px 47px;
}
.services-item__logo-card {
  height: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.services-item__heading {
  margin-bottom: 20px;
}
.services-item__heading-title {
  font-weight: bold;
  font-size: 24px;
  color: #000000;
}
@media (max-width: 425px) {
  .services-item__heading-title {
    font-size: 18px;
  }
}
.services-item__description-text {
  font-weight: 300;
  font-size: 16px;
  color: #7D7987;
}
@media (max-width: 425px) {
  .services-item__description-text {
    font-size: 14px;
  }
}

.section-welcome {
  overflow: hidden;
  padding-bottom: 200px;
  padding-top: 200px;
  position: relative;
}
@media (max-width: 768px) {
  .section-welcome {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .section-welcome {
    padding-bottom: 50px;
  }
}
.section-services {
  overflow: hidden;
  padding-bottom: 200px;
  position: relative;
}
@media (max-width: 425px) {
  .section-services {
    padding-bottom: 50px;
  }
}
.section-info {
  overflow: hidden;
  padding-bottom: 229px;
  position: relative;
}
@media (max-width: 768px) {
  .section-info {
    padding-bottom: 0px;
  }
}
@media (max-width: 425px) {
  .section-info {
    padding-bottom: 50px;
  }
}
.section-info_reverse {
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .section-info_reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width: 768px) {
  .section-info__inner {
    padding: 100px 50px;
  }
}
@media (max-width: 425px) {
  .section-info__inner {
    padding: 50px;
  }
}
.section-testimonials {
  padding-bottom: 200px;
  position: relative;
}
@media (max-width: 425px) {
  .section-testimonials {
    padding-bottom: 50px;
  }
}
.section-testimonials__decor {
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
  padding: 33px 60px 40px;
}
@media (max-width: 1024px) {
  .section-testimonials__decor {
    padding: 50px;
  }
}
@media (max-width: 425px) {
  .section-testimonials__decor {
    padding: 20px;
  }
}
.section-article {
  overflow: hidden;
  padding-bottom: 200px;
  position: relative;
}
@media (max-width: 425px) {
  .section-article {
    padding-bottom: 50px;
  }
}
.section-heading_center {
  text-align: center;
}
.section-heading_center .section-heading__title:after {
  margin-left: auto;
  margin-right: auto;
}
.section-heading__title {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 36px;
  color: #000000;
}
@media (max-width: 425px) {
  .section-heading__title {
    font-size: 24px;
  }
}
.section-heading__title:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  width: 56px;
  height: 2px;
  background: #000000;
  border-radius: 5px;
  left: 0px;
  right: 0px;
}
.section-heading__title_color {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 36px;
  color: #ffff;
}
@media (max-width: 425px) {
  .section-heading__title_color {
    font-size: 24px;
  }
}
.section-heading__title_color:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  width: 56px;
  height: 2px;
  background: #ffff;
  border-radius: 5px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
}
.section-body {
  margin-bottom: 37px;
}
.section-body__description {
  font-weight: 300;
  font-size: 18px;
  color: #7d7987;
}
@media (max-width: 425px) {
  .section-body__description {
    font-size: 16px;
  }
}
.section-body__description_center {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #7d7987;
}
@media (max-width: 425px) {
  .section-body__description_center {
    font-size: 16px;
  }
}

.section-heading_center .section-heading__title:after {
  margin-left: auto;
  margin-right: auto;
}

/* TESTIMONIALS */
.testimonials-swiper .swiper-button-prev {
  color: white !important;
}
.testimonials-swiper .swiper-button-next {
  color: white !important;
}
.testimonials-swiper .swiper-pagination-bullet {
  background: white !important;
}
.testimonials-swiper-slide {
  padding: 25px 100px;
}
@media (max-width: 425px) {
  .testimonials-swiper-slide {
    padding: 0;
  }
}
.testimonials-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 50px;
}
@media (max-width: 1024px) {
  .testimonials-inner {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 6px;
  }
}
.testimonials-inner__comment-box {
  display: flex;
  align-items: center;
}
.testimonials-inner__comment-text {
  font-size: 19px;
  color: rgba(255, 255, 255, 0.9);
}
@media (max-width: 425px) {
  .testimonials-inner__comment-text {
    font-size: 14px;
    text-align: center;
  }
}
.testimonials-user {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .testimonials-user {
    margin-bottom: 50px;
  }
}
@media (max-width: 425px) {
  .testimonials-user {
    margin-bottom: 50px;
    flex-direction: column-reverse;
  }
}
.testimonials-user__box-photo {
  width: 141px;
  height: 141px;
  border-radius: 50%;
  border: 4px solid #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media (max-width: 425px) {
  .testimonials-user__box-photo {
    margin-top: 30px;
  }
}
.testimonials-user__box-photo.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonials-data {
  padding-left: 30px;
}
@media (max-width: 425px) {
  .testimonials-data {
    padding: 0;
  }
}
.testimonials-data__name {
  font-size: 22px;
  font-weight: bold;
  color: #ffff;
}
@media (max-width: 425px) {
  .testimonials-data__name {
    font-size: 16px;
    text-align: center;
  }
}
.testimonials-data__position {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
}
@media (max-width: 425px) {
  .testimonials-data__position {
    font-size: 14px;
    text-align: center;
  }
}

/* SECTION-WELCOME */
@media (max-width: 768px) {
  .invite-welcome {
    text-align: center;
  }
}
.invite-welcome__header {
  margin-bottom: 25px;
}
.invite-welcome__header-title {
  font-weight: bold;
  font-size: 48px;
}
@media (max-width: 425px) {
  .invite-welcome__header-title {
    font-size: 24px;
  }
}
.invite-welcome__body {
  margin-bottom: 45px;
}
.invite-welcome__body-description {
  color: #7d7987;
  font-size: 21px;
  font-weight: 300;
}
@media (max-width: 425px) {
  .invite-welcome__body-description {
    font-size: 14px;
  }
}

.article-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}
@media (max-width: 1024px) {
  .article-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}
@media (max-width: 425px) {
  .article-list {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 30px;
  }
}
.article-item {
  background-color: white;
  border-radius: 25px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}
.article-item__body {
  padding: 24px 66px 0 33px;
}
.article-item__heading {
  margin-bottom: 12px;
}
.article-item__heading-title {
  font-weight: bold;
  font-size: 21px;
  color: #000000;
}
@media (max-width: 425px) {
  .article-item__heading-title {
    font-size: 18px;
  }
}
.article-item__description {
  margin-bottom: 25px;
}
.article-item__description-text {
  font-weight: 300;
  font-size: 16px;
  color: #7d7987;
}
@media (max-width: 425px) {
  .article-item__description-text {
    font-size: 14px;
  }
}
.article-item__link {
  margin-bottom: 35px;
}

#article {
  height: calc(100% - 70px);
}

.rellax-welcome {
  position: absolute;
  top: 10%;
  left: -1%;
  z-index: -1;
}
@media (max-width: 768px) {
  .rellax-welcome {
    display: none;
  }
}
.rellax-services__one {
  position: absolute;
  top: -1%;
  left: -10%;
  z-index: -1;
}
@media (max-width: 768px) {
  .rellax-services__one {
    display: none;
  }
}
.rellax-services__two {
  position: absolute;
  top: 24%;
  right: 6%;
  z-index: -1;
}
@media (max-width: 768px) {
  .rellax-services__two {
    display: none;
  }
}
.rellax-info {
  position: absolute;
  top: 30%;
  right: 10%;
  z-index: -1;
}
@media (max-width: 1024px) {
  .rellax-info {
    display: none;
  }
}
.rellax-testimonials__one {
  position: absolute;
  top: 120%;
  left: 1%;
  z-index: 1;
}
@media (max-width: 1024px) {
  .rellax-testimonials__one {
    display: none;
  }
}
.rellax-testimonials__two {
  position: absolute;
  top: 60%;
  right: 5%;
  z-index: 1;
}
@media (max-width: 1024px) {
  .rellax-testimonials__two {
    display: none;
  }
}
.rellax-article__one {
  position: absolute;
  top: 60%;
  left: 1%;
  z-index: -1;
}
@media (max-width: 1024px) {
  .rellax-article__one {
    display: none;
  }
}
.rellax-article__two {
  position: absolute;
  top: 50%;
  right: -5%;
  z-index: -1;
}
@media (max-width: 1024px) {
  .rellax-article__two {
    display: none;
  }
}
.rellax-footer__one {
  position: absolute;
  top: 50%;
  left: -2%;
  z-index: 1;
}
@media (max-width: 1024px) {
  .rellax-footer__one {
    display: none;
  }
}
.rellax-footer__two {
  position: absolute;
  top: -46%;
  right: 1%;
  z-index: 1;
}
@media (max-width: 1024px) {
  .rellax-footer__two {
    display: none;
  }
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 10px;
  /* ширина для вертикального скролла */
  height: 8px;
  /* высота для горизонтального скролла */
  background-color: #a7adab;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #5a98f2;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}

/* Стрелки */
::-webkit-scrollbar-button:vertical:start:decrement {
  background: linear-gradient(120deg, #5a98f2 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(240deg, #5a98f2 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(0deg, #5a98f2 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:vertical:end:increment {
  background: linear-gradient(300deg, #5a98f2 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(60deg, #5a98f2 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(180deg, #5a98f2 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  background: linear-gradient(30deg, #5a98f2 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(150deg, #5a98f2 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(270deg, #5a98f2 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background: linear-gradient(210deg, #5a98f2 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(330deg, #5a98f2 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(90deg, #5a98f2 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}
/*# sourceMappingURL=styles.css.map */