  body {
    font-family: 'Mulish', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }


  p {
    margin: 0;
  }
  
  header {
    padding-bottom: 200px;
  }
  
  .header-background{ 
    background-color: rgba(255, 255, 255, 0.979);
  }
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .link-style:hover {
    text-shadow: 0 0 black;
    transition: .5s;
  }

    /* SECTION-WELCOME */

  .section-welcome {
    padding-bottom: 200px;
  }

  .invite-welcome__header{
    margin-bottom: 25px;
  }


  .invite-welcome__header-title {
    font-weight: bold;
    font-size: 48px;  
  }

  .invite-welcome__body{
    margin-bottom: 45px;
  }

  .invite-welcome__body-description{
    color: #7D7987;
    font-size: 21px;
    font-weight: 300;
  }

  .section__welcome-decor {
    position: relative;
  }

  .section__welcome-decor::before {
    content: url('./img/decor/decor-element.svg');
    position: absolute;
    left: -110px;
    top: 149px;
  }

  .btn-primary {
    background-color: #458FF6;
  }
  .btn {
    border-radius: 55px;
    font-weight: bold;
    font-size: 18px;
    min-height: 56px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .btn-w-md {
    max-width: 200px;
    width: 100%;
  }
  

    /* SECTION-SERVICES */

  .section-services {
    padding-bottom: 200px;
  }


  .section-body__description_center {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #7D7987;
  }

  .services-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 34px;
    margin: 80px 50px 0 50px; ;
  }
  .section_mb_md {
    margin-bottom: 80px;
  }
  .services-item {
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    padding: 62px 45px 47px;
  }
  .services-item__logo-card {
    height: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  .services-item__heading {
    margin-bottom: 20px;
  }

  .services-item__heading-title {
    font-weight: bold;
    font-size: 24px;
    color: #000000;
  }

 /* .services-item__description {

 } */

  .services-item__description-text {
    font-weight: 300;
    font-size: 16px;
    color: #7D7987;
  }


  .section-services_decor {
    position: relative;
  }
  .section-services_decor::before{
    content: url('./img/decor/decor-element.svg');
    position: absolute;
    right: 14px;
    top: 687px;
    z-index: -1;
  }
  .section-services_decor::after{
    content: url('./img/services-section/services-decor-element.svg');
    position: absolute;
    left: -55px;
    top: 150px;
  }

  .section-heading_center {
    text-align: center;
  }
  
  .section-heading_center .section-heading__title:after{
    margin-left: auto;
    margin-right: auto;
  }

  .section-heading__title {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
  }

  .section-heading__title:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    width: 56px;
    height: 2px;
    background: #000000;
    border-radius: 5px;
    left: 0px;
    right: 0px;
  }

  .section-heading__title.color-white:after {
    background: #FFFFFF;
  }

      /* SECTION-INFO */

   
  
  .section-info {
    padding-bottom: 229px;
  }

  .section-body {
    margin-bottom: 37px;
  }

  .section-body__description {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
  }

  .section-info_decor {
    position: relative;
  }

  .section-info_decor::after {
    content: url(./img/decor/decor-element.svg);
    position: absolute;
    right: -50px;
    top: 520px;
  }

  .btn-m-arrow {
    margin-left: 14px;
  }
  .btn:hover .arrow-style-hover {
    fill: #ffffff;
    transition-duration: 0.2s;
  }


    /* TESTIMONIALS */

  .section-testimonials__decor {
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    position: relative;
    padding: 65px 118px 80px;
  }

  
  .section-testimonials__decor::before{
    content: url(./img/decor/decor-element.svg);
    position: absolute;
    right: -50px;
    top: -15px;
  }
  .section-testimonials__decor::after {
    content: url(./img/decor/decor-element.svg);
    position: absolute;
    left: -53px;
    bottom: 25px;
    z-index: -1;
  }
  .testimonials-inner {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 66px;
  }

 

  .testimonials-user {
    display: flex;
    align-items: center;
  }

  .section-heading__title_color {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    color: #FFFFFF;
  }

  .section-heading__title_color:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    width: 56px;
    height: 2px;
    background: #FFFFFF;
    border-radius: 5px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
  }

  .testimonials-user__box-photo {
    width: 141px;
    height: 141px;
    border-radius: 50%;
    border: 4px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .testimonials-user__box-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .testimonials-data {
    padding-left: 30px;
  }

  .testimonials-data__name {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  } 

  .testimonials-data__position {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.9);
  }
  .testimonials-inner__comment-box {
    display: flex;
    align-items: center;
  }

  .testimonials-inner__comment-text {
    font-size: 19px;
    color: rgba(255, 255, 255, 0.9);
  }
  

  