    // button

 .btn{
    border-radius: 55px;
    font-weight: bold;
    font-size: 18px;
    min-height: 56px;
    max-width: 200px;
    width: 100%;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 425px) {
      min-height: 46px;
      max-width: 150px;
    }
    &_primary{
      background-color: #458FF6;
    }
    &-m-arrow{
      margin-right: 14px;
    }
    & svg{
      width: 12px;
        &:hover{
          fill: $white;
          transition-duration: 0.2s;
        }
    }
 }

  // class="vector-hover"
    
