.footer {
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  overflow: hidden;
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    padding: 118px 0;
    position: relative;
    @media (max-width: 425px) {
      grid-template-columns: repeat(1, 1fr);
      padding: 25px 10px;
    }
    &::before {
      content: url(/img/decor/decor-element-large.png);
      position: absolute;
      right: -60px;
      top: -70px;
      pointer-events: none;
      @media (max-width: 768px) {
        display: none;
      }
    }
    &::after {
      content: url(/img/decor/decor-element-large.png);
      position: absolute;
      left: -150px;
      bottom: 10px;
      pointer-events: none;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 425px) {
      margin-bottom: 25px;
    }
    &__logo {
      margin-bottom: 10px;
    }
    &__description {
        margin-bottom: 30px;
      &-text {
        font-weight: 300;
        font-size: 18px;
        color: #ffffff;
        opacity: 0.6;
        @media (max-width: 425px) {
          font-size: 14px;
         }
      }
    }
    &__copyright {
      &-text {
        font-weight: 300;
        font-size: 16px;
        color: #ffffff;
        opacity: 0.6;
        @media (max-width: 425px) {
          font-size: 14px;
         }
      }
    }
  }
  &-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-left: 15%;
    @media (max-width: 425px) {
      margin: 0;
    }
  }
  &-item {
    text-align: left;
    &__title {
      font-weight: bold;
      font-size: 20px;
      line-height: 60px;
      color: #ffffff;
      @media (max-width: 425px) {
        font-size: 16px;
       }
    }
  }
  &-list {
    &__link {
      font-weight: 300;
      font-size: 18px;
      line-height: 38px;
      color: #ffffff;
      opacity: 0.6;
      @media (max-width: 425px) {
        font-size: 14px;
       }
      &:hover {
        color: #1e314b;
        transition: 0.5s;
      }
    }
  }
}
