.header{
  width: 100%;
  position: fixed;        
  color: #fff;
  z-index: 2;
    &-background{
        background-color: rgba(255, 255, 255, 0.979);
    }
    & .navbar {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    & .nav-link{
      &:hover{
        text-shadow: 0 0 black;
        transition: .5s;
      }
    }
}


