.section {
  &-welcome {
    overflow: hidden;
    padding-bottom: 200px;
    @media (max-width: 768px) {
      text-align: center;

    }
    @media (max-width: 425px) {
      padding-bottom: 50px;
    }
    &__decor {
      position: relative;
      &::before {
        content: url("/img/decor/decor-element.svg");
        position: absolute;
        left: -110px;
        top: 149px;
        pointer-events: none;
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }
  &-services {
    overflow: hidden;
    padding-bottom: 200px;
    @media (max-width: 425px) {
      padding-bottom: 50px;
    }
    &__decor {
      position: relative;
      &::before {
        content: url("/img/decor/decor-element.svg");
        position: absolute;
        right: 14px;
        top: 687px;
        z-index: -1;
        pointer-events: none;
        @media (max-width: 768px) {
          display: none;
        }
      }
      &::after {
        content: url("/img/services-section/section-services-bg.png");
        position: absolute;
        left: -55px;
        top: 150px;
        z-index: -1;
        pointer-events: none;
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }
  &-info {
    overflow: hidden;
    padding-bottom: 229px;
    @media (max-width: 768px) {
      padding-bottom: 0px;
    }
    @media (max-width: 425px) {
      padding-bottom: 50px;
    }
    &_reverse {
      display: flex;
      flex-direction: row;
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column-reverse;
      }
    }
    &__decor {
      position: relative;
      &::after {
        content: url(/img/decor/decor-element.svg);
        position: absolute;
        right: -50px;
        top: 520px;
        pointer-events: none;
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
    &__inner {
      @media (max-width: 768px) {
        padding: 100px 50px;
      }
      @media (max-width: 425px) {
        padding: 50px;
      }
    }
  }
  &-testimonials {
    overflow: hidden;
    padding-bottom: 200px;
    @media (max-width: 425px) {
      padding-bottom: 50px;
    }
    &__decor {
      background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
      border-radius: 24px;
      position: relative;
      padding: 65px 118px 80px;
      @media (max-width: 1024px) {
        padding: 50px;
      }
      @media (max-width: 425px) {
        padding: 20px;
      }
      &::before {
        content: url(./img/decor/decor-element.svg);
        position: absolute;
        right: -50px;
        top: -15px;
        @media (max-width: 768px) {
          display: none;
        }
      }
      &::after {
        content: url(./img/decor/decor-element.svg);
        position: absolute;
        left: -53px;
        bottom: 25px;
        z-index: -1;
        pointer-events: none;
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }
  &-heading {
    &_center {
      text-align: center;
      & .section-heading__title:after {
        margin-left: auto;
        margin-right: auto;
      }
    }
    &__title {
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 30px;
      font-weight: bold;
      font-size: 36px;
      color: #000000;
      @media (max-width: 425px) {
        font-size: 18px;
       }
      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0px;
        width: 56px;
        height: 2px;
        background: #000000;
        border-radius: 5px;
        left: 0px;
        right: 0px;
      }
      // &_color-white:after{
      //   background: #ffff;
      // }
      &_color {
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 36px;
        color: $white;
        @media (max-width: 425px) {
          font-size: 18px;
         }
        &:after {
          content: "";
          display: block;
          position: absolute;
          bottom: 0px;
          width: 56px;
          height: 2px;
          background: $white;
          border-radius: 5px;
          left: 0px;
          right: 0px;
          margin: 0 auto;
        }
      }
    }
  }
  &-body {
    margin-bottom: 37px;
    &__description {
      font-weight: 300;
      font-size: 18px;
      color: #7d7987;
      @media (max-width: 425px) {
        font-size: 14px;
       }
      &_center {
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #7d7987;
        @media (max-width: 425px) {
          font-size: 14px;
         }
      }
    }
  }
  &-article{
    overflow: hidden;
    padding-bottom: 200px;
    @media (max-width: 425px) {
      padding-bottom: 50px;
    }
    &__decor {
      position: relative;
      &::before {
        content: url("/img/decor/decor-article.png");
        position: absolute;
        right: -114px;
        top: 6px;
        z-index: -1;
        pointer-events: none;
        @media (max-width: 768px) {
          display: none;
        }
      }
      &::after {
        content: url("/img/decor/decor-element-large.png");
        position: absolute;
        left: -55px;
        top: 100px;
        z-index: -1;
        pointer-events: none;
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}

