/* SECTION-WELCOME */

.invite-welcome {
  @media (max-width: 768px) {
    text-align: center;
  }
  &__header {
    margin-bottom: 25px;
    &-title {
      font-weight: bold;
      font-size: 48px;
      @media (max-width: 425px) {
        font-size: 24px;
      }
    }
   
  }
  &__body {
    margin-bottom: 45px;
    &-description {
      color: #7d7987;
      font-size: 21px;
      font-weight: 300;
      @media (max-width: 425px) {
        font-size: 14px;
      }
    }
  }
}
